{% extends "base.html" %}
{% block title %}Куратор{% endblock %}
{% block content %}
    <div class="container">
        <h1>Куратор</h1>
        <a href="{% url 'add_tutor' %}" class="btn btn-success mb-3">Добавить ведущего</a>
        <a href="{% url 'add_child' %}" class="btn btn-success mb-3">Добавить ребёнка</a>
        <a href="{% url 'add_group' %}" class="btn btn-success mb-3">Создать группу</a>
        <a href="{% url 'schedule' %}" class="btn btn-info mb-3">Посмотреть расписание</a>
        <a href="{% url 'attendance' %}" class="btn btn-primary mb-3">Посмотреть посещаемость</a>
    </div>
{% endblock %}
